<!--Adiciona template para a classe Traducoes/-->

<h1>Lista de Traduções </h1>

<!--loop para achar cada tradução dentro da lista de traduções e print com a traducao em portgues e ingles./-->
<ul>
<% @traducoes.each do |traducao| %>
  <li>Tradução de <%= traducao.portuguese %> é <%= traducao.english %>
<% end %>
</ul>
