<!--Adiciona template para a classe Traducoes/-->

<h1>Lista de Traduções </h1>

<!--loop para achar cada tradução dentro da lista de traduções e print com a traducao em portgues e ingles./-->
<ul>
<% @translations.each do |t| %>
  <li>Tradução de <%= t.portuguese %> é <%= t.english %>
<% end %>
</ul>
